html, body {
	touch-action: none; /* prevents browser gestures */
  overscroll-behavior: none;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background: radial-gradient(circle, #5b7d73 0%, #405952 50%, #2f423d 100%);
  }
  
.chessBoard {
  touch-action: none; /* disables default gestures like scrolling */
   -ms-touch-action: none;
  user-select: none;
  -webkit-user-drag: none;
  height: 98%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  outline: 4px solid black;
  aspect-ratio: 1 / 1;
}

.chessBoard img {
  user-select: none;     /* avoid built-in image drags */
  touch-action: none;    /* images don’t steal gestures */
}

.square {
  width:12.5%;
  height: 12.5%;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  outline: 1px solid black;
}
.white {
  background-color: #FFD393;
}
.black {
  background-color: #9C9B7A;
}
.coordinate {
  height:auto;
  display:flex;
  bottom: 4%;
  left:4%;
  position: absolute;
  font-size: 12px;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.rank {
  top:4%;
  right:4%;
  left:auto;
}
.whiteText {
  color:#f0d9b5;
}
.blackText {
  color:#b58863;
}
.piece {
	position: relative;
  touch-action: none;
  -webkit-user-drag: none;
  user-select: none;
  z-index: 1;
  width:100%;
  z-index: 1;
  cursor: pointer;
}
.piece img {
	pointer-events: none; /* allows touch events to reach parent div */
  max-width: 100%;
  width:100%;
  height: auto;
}

#alert {
  position: fixed;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  color: black;
  width:44vw;
  text-align: center;
  align-content: center;
  justify-content: center;
  font-size:xxx-large;
  font-weight: bold;
  z-index: 1000;
  display: none;

}
    


@media (max-width:600px) {
  .coordinate {
    font-size: 8px;
  }
}

.promotionOption{
  border-radius: 50%;
  background-color: darkgray;
  transition: transform 0.2s;
  position: absolute;
  z-index: 1000;
}
.promotionOption:hover {
  cursor: pointer;
  border-radius: 0%;
  background-color:#539B0C;
  width: 100%;
}
.promotionOption img {
  max-width: 100%;
  width: 100%;
  height: auto;
}

